@model BookClub.Core.BookClub

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit Book Club</title>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <p>
        <a href="@Url.Action("Index", "Home")" title="Book Club Home">
            <img src="~/Images/Library-Books.png" width="40" alt="Book Club Home" title="Book Club Home" />
        </a>
        <inline>
            <a href="#editBookClubModal" class="btn btn-success btnTextColor" data-toggle="modal" data-target="#editBookClubModal">ADD Book Club</a>
        </inline>
    </p>

    <div id="editBookClubModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" onclick="location.href='@Url.Action("GetBookClubs")'" data-dismiss="modal">&times</a>
                    <br />
                </div>
                <div class="modal-body">
                    <table class="center">
                        <tr>
                            <td>
                                <div class="form-group formWider">
                                    @Html.DisplayNameFor(model => model.BookClubName)
                                    @Html.EditorFor(Model => Model.BookClubName, new { htmlAttributes = new { @class = "form-control" } })             
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" onclick="location.href='@Url.Action("GetBookClubs")'" data-dismiss="modal">CANCEL</a>
                    <a href="#" class="btn btn-success btnTextColor" onclick="saveBookClub()">SAVE</a>
                </div>
            </div>
        </div>
    </div> <!--End of bookClubModal-->

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookClubName)
            </th>
            <th></th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => Model.BookClubName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = Model.BookClubId })
            </td>
        </tr>

    </table>
    @Html.HiddenFor(model => model.BookClubId)
</body>
</html>
<script>
    $(document).ready(function () {
        $("#editBookClubModal").modal("show");
    });
    function saveBookClub() {
        var editBookClubName = $("#BookClubName").val();
        var bookClubId = @Model.BookClubId;
        $.ajax({
            url: '/Home/EditBookClub/',
            data: {
                bookClubId: bookClubId,
                editBookClubName: editBookClubName,
            },
            type: "POST",
            success: function () {
                window.location.href = 'GetBookClubs/';
            },
        });
    }

</script>