@model IEnumerable<BookClub.Core.Genre>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Genres</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GenreDesc)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GenreDesc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.GenreId }) |
                @Html.ActionLink("Details", "Details", new { id=item.GenreId }) |

            </td>
        </tr>
    }
    
    </table>
</body>
</html>
