@model IEnumerable<BookClub.Core.BookSource>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Book Sources</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookSourceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookSourceLink)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookSourceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookSourceLink)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.BookSourceId }) |
                @Html.ActionLink("Details", "Details", new { id=item.BookSourceId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.BookSourceId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
