@model IEnumerable<BookClub.Core.Book>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Book Club</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <p>
        <a href="@Url.Action("Index", "Home")" title="Book Club Home">
           <img src="~/Images/Library-Books.png" width="40" alt="Book Club Home" title="Book Club Home" />
         </a>
        <inline class="btn btn-success btnTextColor">
            @Html.ActionLink("Add a Book", "AddBook")
        </inline>
        <inline class="btn btn-success btnTextColor">
            @Html.ActionLink("Book Sources", "GetBookSources")
        </inline>
        <inline class="btn btn-success btnTextColor">
            @Html.ActionLink("Book Clubs", "GetBookClubs")
        </inline>
        <inline>
            <a href="@Url.Action("ExportAllBooks", "ExcelExport")" title="Export to Excel">
                <img alt="Export to Excel" style="width:40px;" src="@Url.Content("~/Images/ExcelOnline.png")">
            </a>
        </inline>
</p>
    <div class="text-center">
        <h2>Book Club Reads</h2>
    </div>
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Date Read</th>
            <th>Main Characters</th>
            <th>Notes</th>
            <th>Book Club</th>
            <th>Genre</th>
            <th>Book Information</th>
            <th>Stars</th>
            <th></th>
        </tr>
    
    @foreach (var book in Model) {
        <tr>
            <td>@book.Title</td>
            <td>@book.Author</td>
            <td class="myDate">@book.DateRead</td>
            <td>@book.MainCharacters</td>
            <td>@book.Notes</td>
            <td>@book.BookClubName</td>
            <td>@book.GenreDesc</td>
            <td> <a href="@book.GoodReadLink " target="_blank">@book.GoodReadLink </a></td>
            <td>@book.Stars</td>

            <td>
                @Html.ActionLink("Edit", "EditBook", new { bookid = book.BookId })
                @Html.ActionLink("Delete", "DeleteBook", new { bookid = book.BookId })
            </td>

        </tr>
    }
    
    </table>I 
</body>
</html>
<script>

</script>

