@model IEnumerable<BookClub.Core.Book>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Book Club</title>

    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <p>
        <div class="btn btn-success btnTextColor">
            @Html.ActionLink("Add a Book", "AddBook")
        </div>
        <inline class="btn btn-success btnTextColor">
            @Html.ActionLink("Book Sources", "GetBookSources")
        </inline>

        <inline class="btn btn-success btnTextColor">
            @Html.ActionLink("Book Clubs", "GetBookClubs")
        </inline>

    </p>
    <div class="text-center">
        <h2>Book Club Reads</h2>
    </div>
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Date Read</th>
            <th>Main Characters</th>
            <th>Notes</th>
            <th>Book Club</th>
            <th>Genre</th>
            <th>Book Information</th>
            <th>Stars</th>
            <th></th>
        </tr>
    
    @foreach (var book in Model) {
        <tr>
            <td>@book.Title</td>
            <td>@book.Author</td>
            <td>@book.DateRead</td>
            <td>@book.MainCharacters</td>
            <td>@book.Notes</td>
            <td>@book.BookClubName</td>
            <td>@book.GenreDesc</td>
            <td>@book.GoodReadLink</td>
            <td>@book.Stars</td>
            
            <td>
                @Html.ActionLink("Edit", "EditBook", new { bookid = book.BookId })
                @Html.ActionLink("Delete", "DeleteBook", new { bookid = book.BookId })
            </td>

        </tr>
    }
    
    </table>
</body>
</html>
